@font-face {
	font-family: 'TF2';
	src: url('/fonts/tf2/tf2.eot');
	src: url('/fonts/tf2/tf2.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/tf2/tf2.woff2') format('woff2'),
		 url('/fonts/tf2/tf2.woff') format('woff'),
		 url('/fonts/tf2/tf2.ttf') format('truetype'),
		 url('/fonts/tf2.svg#tf2regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	background: url('/img/bg_html.png') left top repeat-x fixed;
	background-size: 1px 100%;
}

body {
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	background-color: #DAD7D2;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: #5C4744;
	margin-bottom: -8px;
	margin-top: 0px;
	/*background: url('/img/bg_gradient.png') center top repeat-y;*/
}

a {
	text-decoration: none;
	color: #C84952;
	font-size: 14pt;
	font-weight: bold;
}

a:visited {
	color: #C84952;
}

#content {
	text-align: center;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#header-ribbon {
	height: 100px;
	width: 1214px;
	margin-left: -107px;
	position: absolute;
	text-align: center;
	background: url('/img/top_ribbon.png') no-repeat;
	background-size: 100% 100%;
	padding-top: 7px;
	font-size: 24pt;
	color: white;
	font-weight: bold;
	z-index: 99999;
}

#header-image {
	position: relative;
	height: 450px;
	background: url('/img/bg_header.jpg') no-repeat;
	background-size: 100% 100%;
}

#spark-toggle a {
	position: absolute;
	bottom: 3px;
	right: 4px;
	clear: both;
	font-size: 10pt;
	z-index: 99999;
}

#header-logo {
	width: 142px;
	height: 142px;
	position: absolute;
	left: 6px;
	bottom: 20px;
	background: url('/img/logo.png');
	background-size: 100% 100%;
	z-index: 99999;
}

#header-bottom-ribbon {
	height: 9px;
	background: url('/img/bg_header_after.png') repeat-x;
	background-size: 12px 100%;
}

#countdown {
	text-shadow: 0px 2px 8px black;
}

#countdown a {
	color: white;
	font-size: 24pt;
}

.heading {
	font-size: 16pt;
}

.ribbon {
	width: 330px;
	height: 60px;
	color: #DAD7D2;
	font-size: 21pt;
	text-shadow: 0px 2px 8px black;
	padding-top: 5px;
}

.section.left > .ribbon {
	background: url('/img/ribbon_left.png') no-repeat;
	margin-left: -88px;
	float: left;
}

.section.left > .ribbon > span {
	padding-left: 55px;
}

.section.right > .ribbon {
	background: url('/img/ribbon_right.png') no-repeat;
	margin-right: -84px;
	float: right;
}

.section.right > .ribbon > span {
	padding-right: 55px;
}

.section.left {
	width: 100%;
	float: left;
	text-align: left;
}

.section.right {
	width: 100%;
	float: right;
	text-align: right;
}

.section.left > .content {
	width: 700px;
	clear: both;
}

.section.right > .content {
	width: 700px;
	float: right;
	text-align: right;
}

.people {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	padding-top: 8px;
	padding-bottom: 10px;
}

.person {
	padding-left: 20px;
	padding-right: 20px;
}

#ext-links {
	clear: both;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 100px;
}

.ext-link {
	margin-left: 5px;
	margin-right: 5px;
}

#footer {
	padding-top: 30px;
	height: 20px;
	text-align: center;
	background: url('/img/bg_footer.png') bottom left repeat-x;
	background-size: 50px 50px;
	color: white;
	font-size: 8pt;
	font-weight: 100;
	font-family: Arial;
}

#footer a {
	color: white;
	font-size: 8pt;
	font-weight: 100;
}

#konami {
	position: fixed;
	z-index: 9999999;
	top: 22%;
	left: 32%;
	margin-left: auto;
	margin-right: auto;	
}

.massive {
	margin-top: 125px;
	font-size: 150pt;
	color: #C84952;
	text-align: center;
}
